Package: sogoupinyin
Priority: optional
Section: utils
Installed-Size: 67367
Maintainer: Ubuntu Kylin Team <ubuntukylin-members@lists.launchpad.net>
Architecture: amd64
Version: 2.3.0.0109
Depends: fcitx (>= 1:4.2.8.3-3~), fcitx-frontend-gtk2, fcitx-frontend-gtk3, fcitx-frontend-qt4, fcitx-frontend-qt5, libqt5webkit5 (>= 5.5.1), fcitx-module-kimpanel, fcitx-module-x11, im-config, fonts-droid | fonts-droid-fallback, libopencc2 | libopencc1, lsb-release, unzip, zip, x11-utils, fontconfig, fcitx-libs | libfcitx-config4, fcitx-libs | libfcitx-qt0, fcitx-libs | libfcitx-utils0, qml-module-qtquick2
Conffiles:
 /etc/X11/Xsession.d/72sogoupinyin 9a024822f2d895440c512b44496987d4
Description: Sogou Pinyin Input Method
 Based on web search engine technology, Sogou Pinyin input method is
 the next-generation input method designed for Internet users. As it
 is backed with search engine technology, user input method can be
 extremely fast, and it is much more advanced than other input method
 engines in terms of the volume of the vocabulary database and its
 accuracy. Sogou input method is the most popular input methods in
 China, and Sogou promises it will always be free of charge.
Homepage: http://pinyin.sogou.com/linux
